
{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block steps %}
    <ul id="progressbar">
        <li class="active" id="step1"><strong>Upload de Dados</strong></li>
        <li id="step2"><strong>Tratamento de Dados</strong></li>
        <li id="step3"><strong>Treino de Modelo</strong></li>
        <li id="step4"><strong>Avaliar e Prever</strong></li>
    </ul>
{% endblock %}

{% block action %}
    <h1 class="display-6 fw-normal">Upload de Dados</h1>
    <div class="my-4 mb-5">
        <p class="lead fw-normal">Envie seu arquivo em formato CSV contendo os dados que serão tratados e usados para treinamento</p>
        <div class="card-body">
            <form method="POST" action="" enctype="multipart/form-data">
                <input type="file" name="file" class="form-control form-control-lg mb-3" id="customFile", onchange="$('#upload-file-info').text(this.files[0].name)">
                <button type="submit" name="action" value="Submit" class="btn btn-primary px-5">Enviar</button>
            </form>
    </div>
    </div>
{% endblock %}

{% block right %}
    <div class="row my-auto px-lg-5 px-md-0 px-3">
        <div class="card shadow accordion accordion-flush p-0" id="accordionFlushLoad>">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingLoad">
              <button class="accordion-button collapsed card-header font-weight-bold text-primary"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseLoad" aria-expanded="false" aria-controls="flush-collapseLoad">
                Arquivos <i class="bi bi-info-circle-fill ms-3"
              data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left"
                         title="Clique para recarregar um arquivo e continuar de onde parou!"></i>
              </button>
            </h2>
            <div id="flush-collapseLoad" class="accordion-collapse collapse" aria-labelledby="flush-headingLoad" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body" id="accordionLoad">
                  <div class="list-group overflow-auto shadow" style="max-height: 220px;">
                      {% for col in saved_dfs %}
                          <a href="preprocess/{{col}}" class="list-group-item list-group-item-action">{{col}}</a>
                      {% endfor %}
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row align-self-end mt-2 me-4">
    </div>
{% endblock %}

{% block scripts %}
    <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
{% endblock %}