{% extends "base.html" %}
{% block title %}Main{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block action %}
    <div class="d-flex align-items-center justify-content-center">
    <i class="fab fa-firstdraft fa-4x brand-logo"></i>
    <div class="display-6 fw-normal brand-text"> UERJ AutoML</div>
    </div>
    <div class="my-4 mb-1">
        <p class="lead fw-normal">Gerencie seus projetos da plataforma de Auto ML</p>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Upload and load cards-->
{#        <div class="col-lg-6 col-md-8 mx-auto">#}
{#            <div class="row row-cols-1 row-cols-md-2">#}
{#                <!-- Upload card -->#}
{#                <div class="col mb-4">#}
{#                    <div class="card h-100 menu-card shadow-sm">#}
{#                        <div class="card-header text-center">#}
{#                            <span class="fa fa-upload fa-5x"></span>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <h4 class="card-title">Novo Projeto</h4>#}
{#                            <p class="card-text">Faça o upload de uma tabela e comece um novo projeto</p>#}
{#                            <a href="{{ url_for('upload.index') }}" class="stretched-link"></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Load card -->#}
{#                <div class="col mb-4">#}
{#                    <div class="card h-100 menu-card shadow-sm">#}
{#                        <div class="card-header text-center">#}
{#                            <span class="fa fa-wrench fa-5x"></span>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <h4 class="card-title">Abrir Projeto</h4>#}
{#                            <p class="card-text">Abra um projeto e continue de onde parou</p>#}
{#                            <a href="#" class="stretched-link"></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="col-10 col-md-8 mx-auto mb-3">
            <div class="card">
                <div class="card-header d-flex">
                    <div class="col">
                        <h5 style="margin-top: 8px; margin-bottom: 0px">Abrir Projeto</h5>
                    </div>
                    <div class="col">
                        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
                    </div>
                </div>
                <div class="list-group list-group-flush all-projects" id="myList">
                    {% for dict in dict_list|sort(attribute='last_updated', reverse=True) %}
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ dict.get('name') }}</h5>
                            <small>última vez {{ dict.get('natural_timedelta')}}</small>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <p class="mb-1 mr-auto">
                                    <span>Modelo: <code>{{ dict.get('best_model') if dict.get('best_model')!=False else "não treinado"}}</code></span>
                                    {% if dict.get('train') != False %}
                                    <span>- {{ dict.get('train_metric') }}:  <code>{{ dict.get('train_score') }}</code></span>
                                    {% endif %}
                                </p>
                                {% if dict.get('preprocessing') > 0 %}
                                <small> <span class="badge badge-pill badge-secondary">Preprocessado</span></small>
                                {% endif %}
                                {% if dict.get('train') != False %}
                                <small> <span class="badge badge-pill badge-primary">Treinado</span></small>
                                {% endif %}
                            </div>
                            <div class="col-md-4 align-self-end">
                                <div class="btn-group d-flex" role="group" aria-label="Basic example">
                                  <a href="/preprocess/{{ dict.get('name') }}" role="button" class="btn-sm btn-primary border-0 mx-1 w-100 project-load-button">Processar</a>
                                  <a href="{{"/train/" + dict.get('name') if dict.get('preprocessing') > 0 else "#"}}" role="button" class="btn-sm btn-primary border-0 mx-1 w-100 {{ "disabled bg-gray-400" if dict.get('preprocessing') == 0 else "project-load-button"}}">Treinar</a>
                                  <a href="{{"/evaluate/" + dict.get('name') if dict.get('train') == True else "#"}}" role="button" class="btn-sm btn-primary border-0 mx-1 w-100 {{ "disabled bg-gray-400" if dict.get('train') == False else "project-load-button"}}">Prever</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <script>
        document.getElementById("step1").classList.remove('active');
    </script>

    <script>
        $('#sortTable3').DataTable({
        order: [[6, 'desc']],
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myList div.list-group-item").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}