
{% extends "base.html" %}
{% block title %}Table{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css">
{% endblock %}

{% block steps %}
    <ul id="progressbar">
        <li class="active" id="step1"><strong>Upload de Dados</strong></li>
        <li class="active" id="step2"><strong>Tratamento de Dados</strong></li>
        <li class="active" id="step3"><strong>Treino de Modelo</strong></li>
        <li id="step4"><strong>Step 4</strong></li>
    </ul>
{% endblock %}

{% block action %}
    <h1 class="display-6 fw-normal">Treino de Modelo</h1>
    <p class="lead fw-normal">Selecione as colunas para receber o tratamento de sua escolha.</p>
    <div class="card-body" id="form-div">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="row mb-3 justify-content-center">
                <div class="col-6">
                    <div class="card shadow mb-4">
                        <div class="card-header font-weight-bold text-primary py-3">
                            <label class="form-label" for="col">Target</label>
                            <i class="bi bi-info-circle-fill ms-1"
                            data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left"
                            title="<b>Coluna <code>Target</code> do modelo</b>. Ou seja, a coluna que você deseja que seu modelo seja capaz de <b>prever</b>"></i>
                        </div>
                        <div class="card-body">
                            <select class="selectpicker" title="Coluna a ser Prevista" name="col" id="col" data-actions-box="true" data-live-search="true" data-width="75%" data-dropup-auto="false" data-container="body" >
                                {% for col in column_names %}
                                <option value="{{col}}">{{col}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card shadow mb-4">
                        <div class="card-header font-weight-bold text-primary py-3">
                            <label class="form-label" for="process">Tempo de Processamento</label>
                            <i class="bi bi-info-circle-fill ms-1"
                            data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left"
                            title="<b>Tempo de processamento limite</b> <code>em segundos</code> para o treinamento do modelo. <br> Quanto maior o tempo de processamento, <b>melhor o resultado</b>"></i>
                        </div>
                        <div class="card-body treat-selector">
                            <input class="form-control" value="120" autocomplete="off" title="Segundos de Treinamento" name="process" id="process" data-width="75%" data-dropup-auto="false" data-container="body">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" name="action" value="apply" class="btn btn-success mb-3 px-5">Treinar</button>
        </form>
    </div>
{% endblock %}

{% block right %}
    <div class="row my-auto px-lg-5 px-md-0 px-3">
        <div class="card shadow accordion accordion-flush p-0" id="accordionFlushHelp">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingHelp">
              <button class="accordion-button collapsed card-header font-weight-bold text-primary"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseHelp" aria-expanded="false" aria-controls="flush-collapseHelp">
                Ajuda <i class="bi bi-info-circle-fill ms-3"
              data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="left"
                         title="Aqui você encontrará ajuda com <b>explicações</b> sobre a <br> <code>Função de tratamento</code> selecionada ao lado. <b>Basta escolher uma!</b>"></i>
              </button>
            </h2>
            <div id="flush-collapseHelp" class="accordion-collapse collapse" aria-labelledby="flush-headingHelp" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body" id="accordionHelp">
                  <p>Aqui encontrará ajuda com explicações sobre a <code>Função de tratamento</code> selecionada ao lado. Basta escolher uma!</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row align-self-end mt-2 me-4">
        <form method="POST" action="" enctype="multipart/form-data">
            <button type="submit" name="action" value="next" class="btn btn-lg btn-primary mb-4 px-4">Avançar <i class="bi bi-arrow-return-right"></i></button>
        </form>
    </div>
{% endblock %}

{% block left %}
    <div class="row align-self-start ms-2 me-4 mt-auto">
        <form method="POST" action="" enctype="multipart/form-data">
            <button type="submit" name="action" value="back" class="btn btn-lg btn-primary mb-4 px-4"><i class="bi bi-arrow-return-left"></i> Voltar</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Dados Importados</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-bordered table-hover" id="sortTable">
                                {% if len(row_data) == 1000 %}
                                <caption>Somente as primeiras 1000 linhas</caption>
                                {% endif %}
                                <thead>
                                <tr>
                                    {% for col in column_names %}
                                    <th>{{col}}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in row_data %}
                                <tr>
                                    {% for col, row_ in zip(column_names, row) %}
                                    <td>{{row_}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link font-weight-bold text-primary active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descrição</a>
                            <a class="nav-item nav-link font-weight-bold text-primary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tipos</a>
                            <a class="nav-item nav-link font-weight-bold text-primary" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="false">Histórico</a>
                          </div>
                        </nav>
                    </div>
                    <div class="card-body tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="table-responsive text-nowrap">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        {% for col in describe_columns %}
                                        <th>{{col}}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in describe_data %}
                                    <tr>
                                        {% for col, row_ in zip(describe_columns, row) %}
                                        <td>{{row_}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="table-responsive text-nowrap">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        {% for col in dtypes_columns %}
                                        <th>{{col}}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in dtypes_data %}
                                    <tr>
                                        {% for col, row_ in zip(dtypes_columns, row) %}
                                        <td>{{row_}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
                            <div class="table-responsive text-nowrap">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        {% for col in history_columns %}
                                        <th>{{col}}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in history_data %}
                                    <tr>
                                        {% for col, row_ in zip(dtypes_columns, row) %}
                                        <td>{{row_}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>

    <script>
        $('#sortTable').DataTable();
    </script>

    <script>
        $('#nav-tab a').on('click', function (e) {
          e.preventDefault()
          $(this).tab('show')
        })
    </script>

    <script>
    // Script that opens Params Modal and Display Errors
    $(document).ready(function() {
        const modal_div = $("#form-div");
        let error_msg = "{{ error_msg }}"
        if (error_msg !== "Erro: ") {
            console.log("{{ error_msg }}");
            modal_div.append($("<p></p>").attr("class", "text-danger").text(error_msg));
        }
    });
    </script>
    <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
})
    </script>

{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}